<form method="post" action="{{ path('back_app_invoice_delete', {'id': invoice.id}) }}" onsubmit="return confirm('{{ 'delete message'|trans({}, 'invoice') }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ invoice.id) }}">
    <button class="button button-invalid px-4 flex items-center justify-center space-x-4">{{ 'delete'|trans({}, 'invoice') }}</button>
</form>
