<form method="post" action="{{ path('back_app_estimate_delete', {'id': estimate.id}) }}" onsubmit="return confirm('{{'delete message'|trans({}, 'estimate')}}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ estimate.id) }}">
    <button class="button button-invalid px-4 flex items-center justify-center space-x-4">{{ 'delete'|trans({}, 'estimate') }}</button>
</form>
