{% extends 'back/base.html.twig' %}

{% block title %}Estimate{% endblock %}

{% block main %}
    {% include 'components/page_header.html.twig' with {'title': 'Liste des devis', 'link': path('back_default_index')} %}

<div>
    <div class="card mb-5">
        {% include 'components/table_Invoice_Estimate.html.twig' with {'type': 'estimate', 'pagination': estimatesPagination} %}
    </div>
</div>
    <div class="pagination mt-4 flex justify-between">
        <a class="no-underline" href="{{ path('back_app_estimate_new') }}">
            <button type="button" class="button button-details">Nouveau devis</button>
        </a>
        {{ knp_pagination_render(estimatesPagination) }}
    </div>
{% endblock %}
