{% extends 'back/base.html.twig' %}

{% block title %}New Estimate{% endblock %}

{% block main %}
    <h1>Create new Estimate</h1>

    {{ include('back/estimate/_form.html.twig') }}

    <a href="{{ path('back_app_estimate_index') }}">back to list</a>
{% endblock %}
