<form method="post" action="{{ path('back_app_category_delete', {'id': category.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer la catégorie {{ category.Name}} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="button button-invalid px-4 flex items-center justify-center space-x-4">Supprimer</button>
</form>
