<form method="post" action="{{ path('back_app_category_delete', {'id': category.id}) }}" onsubmit="return confirm('tes vous sûr de vouloir supprimer la catégorie {{ category.Name}} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="button button-details">Supprimer</button>
</form>
