{% extends 'back/base.html.twig' %}

{% block title %}Accounting index{% endblock %}

{% block main %}
   <ul class="mb-5 flex list-none flex-row flex-wrap border-b-0 pl-0 w-8/12 space-x-24 ml-60" role="tablist" data-te-nav-ref>
        <li role="presentation" class="flex-auto text-center bg-white shadow-md sm:rounded-lg">
            <a
            href="#tabs-invoice-pending-payment"
            class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-slate-300 data-[te-nav-active]:border-slate-300 dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
            data-te-toggle="pill"
            data-te-target="#tabs-invoice-pending-payment"
            data-te-nav-active
            role="tab"
            aria-controls="tabs-invoice-pending-payment"
            aria-selected="true"
            >Factures en attente de paiement</a
            >
        </li>
        <li role="presentation" class="flex-auto text-center bg-white shadow-md sm:rounded-lg">
            <a
            href="#tabs-invoice-paid"
            class="focus:border-transparen my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate data-[te-nav-active]:border-slate-300 data-[te-nav-active]:border-slate-300 dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
            data-te-toggle="pill"
            data-te-target="#tabs-invoice-paid"
            role="tab"
            aria-controls="tabs-invoice-paid"
            aria-selected="false"
            >Factures payées</a
            >
        </li>
    </ul>

<!--Tabs content-->
    <div class="mb-6">
        <div
            class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
            id="tabs-invoice-pending-payment"
            role="tabpanel"
            aria-labelledby="tabs-invoice-pending-payment"
            data-te-tab-active>
            <div class="relative bg-gray-50 overflow-x-auto shadow-md sm:rounded-lg mt-14 px-8">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 ">
                    <thead class="text-xs text-gray-700 uppercase dark:bg-gray-700 dark:text-gray-400">
                    <tr class="border-b-2 border-gray-500">
                        <th scope="col" class="px-6 py-3 text-center">
                            Devis n°
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Véhicule
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Date du devis
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Date de validité
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Montant
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Statut
                        </th>
                        <th scope="col" class="px-6 py-3">
                        <th scope="col" class="px-6 py-3">
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
                            01
                        </th>
                        <td class="px-6 py-4 text-center">
                            LL-NNN-LL
                        </td>
                        <td class="px-6 py-4 text-center">
                            12/06/2023
                        </td>
                        <td class="px-6 py-4 text-center">
                            12/06/2023
                        </td>
                        <td class="px-6 py-4 text-center">
                            74,88 €
                        </td>
                        <td class="px-6 py-4 text-center flex justify-center">
                            <img src="{{ app.request.baseURL }}/uploads/images/icon/icon-state-waiting.svg" alt="">
                        </td>
                        <td class="px-6 py-4 text-center">
                            <button type="button" class="button button-details px-6 flex items-center justify-center">Details</button>
                        </td>
                        <td class="px-6 py-4 text-center">
                            <button type="button" class="button button-details px-6 flex items-center justify-center"><iconify-icon icon="material-symbols:download" style="color: white;" width="24" height="24"></iconify-icon></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div
            class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
            id="tabs-invoice-paid"
            role="tabpanel"
            aria-labelledby="tabs-invoice-paid">
            <div class="relative bg-gray-50 overflow-x-auto shadow-md sm:rounded-lg mt-14 px-8">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 ">
                    <thead class="text-xs text-gray-700 uppercase dark:bg-gray-700 dark:text-gray-400">
                    <tr class="border-b-2 border-gray-500">
                        <th scope="col" class="px-6 py-3 text-center">
                            Devis n°
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Véhicule
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Date du devis
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Date de validité
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Montant
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Statut
                        </th>
                        <th scope="col" class="px-6 py-3">
                        <th scope="col" class="px-6 py-3">
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
                            01
                        </th>
                        <td class="px-6 py-4 text-center">
                            LL-NNN-LL
                        </td>
                        <td class="px-6 py-4 text-center">
                            12/06/2023
                        </td>
                        <td class="px-6 py-4 text-center">
                            12/06/2023
                        </td>
                        <td class="px-6 py-4 text-center">
                            74,88 €
                        </td>
                        <td class="px-6 py-4 text-center flex justify-center">
                            <img src="{{ app.request.baseURL }}/uploads/images/icon/icon-state-valid.svg" alt="">
                        </td>
                        <td class="px-6 py-4 text-center">
                            <button type="button" class="button button-details px-6 flex items-center justify-center">Details</button>
                        </td>
                        <td class="px-6 py-4 text-center">
                            <button type="button" class="button button-details px-6 flex items-center justify-center"><iconify-icon icon="material-symbols:download" style="color: white;" width="24" height="24"></iconify-icon></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
