<form method="post" action="{{ path('back_app_prestation_delete', {'id': prestation.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer le produit {{ prestation.Name }} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prestation.id) }}">
    <button class="button button-invalid px-4 flex items-center justify-center space-x-4">Supprimer</button>
</form>
