{% extends 'back/base.html.twig' %}

{% block title %}Edit Prestation{% endblock %}

{% block main %}
    {% include 'components/page_header.html.twig' with {'title': 'Modification de la prestation n°'~prestation.id, 'link': path('back_app_prestation_index')} %}

    {{ include('back/prestation/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('back/prestation/_delete_form.html.twig') }}
    </div>
{% endblock %}
