{#{% extends 'front/base.html.twig' %}#}

{#{% block title %}Accueil{% endblock %}#}

{#{% block main %}#}
{#    #}{#    <nav class="">#}
{#    #}{#        <div class="" id="">#}
{#    #}{#            <div class="">#}
{#    #}{#                <a href="{{ path('front_default_index') }}" class="">Home</a>#}
{#    #}{#                <a href="{{ path('app_login') }}" class="">Login</a>#}
{#    #}{#                <a href="{{ path('app_forget_password') }}" class="">Forget</a>#}
{#    #}{#            </div>#}
{#    #}{#        </div>#}
{#    #}{#    </nav>#}

{#    <div class="grid grid-cols-2">#}
{#        <div>#}
{#            <img src="{{app.request.baseURL}}/uploads/images/global/car_1.svg" alt="">#}
{#        </div>#}
{#        {% block mainFront %}#}
{#            {% include 'security/login.html.twig' %}#}
{#        {% endblock %}#}
{#    </div>#}


{#{% endblock %}#}
