{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <nav class="">
        <div class="" id="">
            <div class="">
                <a href="{{ path('front_default_index') }}" class="">Home</a>
                <a href="{{ path('app_login') }}" class="">Login</a>
                <a href="{{ path('app_forget_password') }}" class="">Forget</a>
            </div>
        </div>
    </nav>
{% endblock %}
