{% extends 'back/base.html.twig' %}

{% block title %}User{% endblock %}

{% block main %}
    {% if user.id == app.user.id %}
        {% include 'components/page_header.html.twig' with {'title': 'Mon compte', 'link': path('back_default_index')} %}
    {% else %}
        {% include 'components/page_header.html.twig' with {'title': 'Utilisateur n°'~user.id, 'link': path('back_app_user_index')} %}
    {% endif %}

    {% include 'components/page_account.html.twig' with {'user': user, 'type': 'user'} %}

{#    <a href="{{ path('back_app_user_edit', {'id': user.id}) }}">edit</a>#}

{#    {{ include('back/user/_delete_form.html.twig') }}#}
{% endblock %}
