{% extends 'base.html.twig' %}

{% block title %}Forget Password{% endblock %}

{% block body %}
    <h1>Forget Password</h1>

    {{ include('security/forgetPassword/_form.html.twig') }}
{% endblock %}
