<h1>Welcome {{ user.firstname }} {{user.lastname}}!</h1>

<p>
    <a href="{{url('back_app_user_validate',{'id': user.id,'token': user.validationToken})}}">Click here to activate your account</a>
</p>