<h1>Welcome !</h1>
<p>Voici votre devis vous pouvez le télécharger</p>

<p>
    {# <a href="{{url('back_app_user_validate',{'id': user.id,'token': user.validationToken})}}">Click here to activate your account</a> #}
</p>