$color-main-text: rgba(0,0,0,1);
$color-secondary-text: rgba(255,255,255,1);
$color-placeholder: rgba(184,184,184,1);
$color-valid: rgba(0,210,46,1);
$color-error: rgba(255,0,0,1);
$color-background: rgba(255,240,199,0.430);
$color-p-1: rgba(32,92,122,1);
$color-p-2: rgba(140,213,250,1);
$color-p-3: rgba(65,188,250,1);
$color-p-4: rgba(86,110,122,1);
$color-p-5: rgba(52,150,199,1);
$color-background-2: rgba(235,235,235,1);
$color-p-6: rgba(95,97,101,1);
$color-background-3: rgba(251,251,251,1);
$color-waiting: rgba(255,138,0,1);