@tailwind base;
@tailwind components;
@tailwind utilities;

@import "colors.scss";
@import "font.scss";
main {
    background-color: $color-background-2;
}

body{
    & nav{
        background-color: $color-p-1;
        & div{
            & :first-child{
                background-color: $color-background-3;
            }
        }
    }

    & aside{
        background-color: $color-background-3;
    }
}
