<form method="post" action="{{ path('back_app_product_delete', {'id': product.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer le produit {{ product.title}} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="button button-invalid px-4 flex items-center justify-center space-x-4">Supprimer</button>
</form>
