{% extends 'back/base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block main %}
    {% include 'components/page_header.html.twig' with {'title': 'Modification du produit n°'~product.id, 'link': path('back_app_product_index')} %}

    {{ include('back/product/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('back/product/_delete_form.html.twig') }}
    </div>
{% endblock %}
