{% extends 'front/base.html.twig' %}

{% block title %}Presta Auto - Connexion{% endblock %}

{% block main %}

    <div class="card flex justify-center items-center">
        {{ include('security/resetPassword/_form.html.twig') }}
    </div>

{% endblock %}
