<form method="post" action="{{ path('back_app_customer_delete', {'id': customer.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer le client n° {{ customer.id}} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer.id) }}">
    <button class="button button-invalid px-6 flex items-center justify-center mt-4 text-medium">Supprimer mon compte</button>
</form>