<form method="post" action="{{ path('back_app_customer_validate', {'id': customer.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir valider le client n° {{ customer.id}} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer.id) }}">
    {% if from == 'show' %}
        <button class="button button-valid px-6 flex items-center justify-center text-medium">Valider le compte</button>
    {% else %}
        <button class="button button-details px-6 flex items-center justify-center text-medium">Valider</button>
    {% endif %}
</form>