{% extends 'back/base.html.twig' %}

{% block title %}Presta Auto - {{ 'customer' | trans({},'customer') }}{% endblock %}

{% block main %}
    {% include 'components/page_header.html.twig' with {'title': {{ 'edit customer no.' | trans({},'customer') }}~customer.id, 'link': path('back_app_customer_show', {'id': customer.id})} %}

    {{ include('back/customer/_form.html.twig', {'button_label': 'update'}) }}

    {% include 'back/customer/_delete_form.html.twig' with {'from': 'edit'} %}
    </div>
{% endblock %}
