<div class="flex items-center space-x-4 mb-4">
    <a class="no-underline" href="{{ link }}"><iconify-icon style="color: black;"  icon="fluent-mdl2:back" width="24"></iconify-icon></a>
    <h1>{{ title }}</h1>
</div>