{% extends 'back/base.html.twig' %}

{% block title %}{{ 'Dashboard' | trans }}{% endblock %}

{% block main %}
   <div id="chart-dashboard">
        {{ render_chart(chart, {'class': 'my-chart'}) }}
    </div>
   <div class>
        
   </div>
   <div class>
        
   </div> 
{% endblock %}
